asgiref==3.8.1
blinker==1.9.0
click==8.1.8
colorama==0.4.6
construct==2.5.2
Django==5.2.3
django-pwa==2.0.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pyngrok==7.2.3
python-decouple==3.8
PyYAML==6.0.2
scrypt==0.8.27
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
Werkzeug==3.1.3
